
ProC#/head 12/LinqOverCollectons/.vs/LinqOverCollectons/v16/.suo
ProC#/head 12/FunWithLinqExpressions/obj/Debug/FunWithLinqExpressions.csproj.AssemblyReference.cache
ProC#/head 12/FunWithLinqExpressions/.vs/FunWithLinqExpressions/v16/.suo
*.cache
*.cache
ProC#/head 12/FunWithLinqExpressions/.vs/FunWithLinqExpressions/v16/.suo
